body{
  background-color: #E4CCFA;
}

h1{
  font-family:Georgia;
  font-variant: small-caps;
  text-align: center;
}

span{
  font-family:Lucida Console;
  font-weight: bold;
}

input {
    width: 88%;
    padding: 12px 20px;
    font-size: 16px;
    text-align: right;
}

.button{
  background-color: #6E6E6E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 3px;
  cursor: pointer;
}


.button2{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 3px;
  cursor: pointer;
}
